#!/usr/bin/make -f

export QT_SELECT := qt5
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --parallel

override_dh_auto_configure:
	qmake

override_dh_auto_install-indep:
	make INSTALL_ROOT=$(CURDIR)/debian/tmp
