[Desktop Entry]
Name=Shadowsocks-Qt5
GenericName=Shadowsocks-Qt5
Comment=Shadowsocks GUI client
Exec=ss-qt5
Icon=shadowsocks-qt5
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
